.summary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-btn {
    margin: 1px;
}

.search-leave-history-button {
    display: flex;
    gap: 8px;
}